<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<div class="container">
  <ngb-tabset #tabs>
    <ngb-tab title="Course List">
      <ng-template ngbTabContent>
        <mapbook-list></mapbook-list>
        <mapbook-detail></mapbook-detail>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Book Course">
      <ng-template ngbTabContent>
        <mapbook-add-employee-to-course></mapbook-add-employee-to-course>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  </div>

